[
  {
    "clock": {
      "format": "{:%Y-%m-%d %H:%M:%S}",
      "interval": 1,
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "{usage}% ",
      "tooltip": false
    },
    "custom/brightness": {
      "exec": "ddcutil --bus 9 getvcp 10 | grep -oP 'current.*?=\\s*\\K[0-9]+' | { read x; echo '{\"percentage\":'${x}'}'; }",
      "format": "{percentage}% ۞",
      "interval": 1,
      "on-click": "ddcutil --noverify --bus 9 setvcp 10 + 5",
      "on-click-right": "ddcutil --noverify --bus 9 setvcp 10 - 5",
      "return-type": "json",
      "tooltip": false
    },
    "height": 30,
    "hyparland/window": {
      "format": "{title}"
    },
    "layer": "top",
    "memory": {
      "format": "{}% "
    },
    "modules-center": [],
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/window"
    ],
    "modules-right": [
      "network",
      "tray",
      "custom/brightness",
      "pulseaudio",
      "memory",
      "cpu",
      "temperature",
      "clock"
    ],
    #"network": {
    #  "align": 1,
    #  "format-alt": "{ifname}: {ipaddr}/{cidr}",
    #  "format-disconnected": "Disconnected ⚠",
    #  "format-ethernet": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓    {ipaddr}/{cidr} ",
    #  "format-linked": "{ifname} (No IP) ",
    #  "format-wifi": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓    {essid} ({signalStrength}%) ",
    #  "interval": 2,
    #  "justify": "right",
    #  "max-length": 38,
    #  "min-length": 38,
    #  "tooltip-format": "{ifname} via {gwaddr} "
    #},
    "network": {
      "align": 1,
      "format-alt": "{ifname}: {ipaddr}/{cidr}",
      "format-disconnected": "",
      "format-ethernet": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓",
      "format-linked": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓",
      "format-wifi": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓",
      "interval": 2,
      "tooltip-format": "{ifname} via {gwaddr} "
    },
    "position": "top",
    "pulseaudio": {
      "format": "{volume}% {icon} {format_source}",
      "format-bluetooth": "{volume}% {icon} {format_source}",
      "format-bluetooth-muted": " {icon} {format_source}",
      "format-icons": {
        "car": "",
        "default": [
          "",
          "",
          ""
        ],
        "hands-free": "",
        "headphone": "",
        "headset": "",
        "phone": "",
        "portable": ""
      },
      "format-muted": " {format_source}",
      "format-source": "{volume}% ",
      "format-source-muted": "",
      "on-click": "pavucontrol"
    },
    "spacing": 4,
    "temperature": {
      "critical-threshold": 80,
      "format": "{temperatureC}°C {icon}",
      "format-icons": [
        "",
        "",
        ""
      ]
    },
    "tray": {
      "spacing": 10
    }
  }
]

