[
  {
    "clock": {
      "format": "{:%Y-%m-%d %H:%M:%S}",
      "interval": 1,
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "CPU: {usage}%",
      "width": 20,
      "tooltip": false
    },
    "custom/brightness": {
      "exec": "ddcutil --bus 9 getvcp 10 | grep -oP 'current.*?=\\s*\\K[0-9]+' | { read x; echo '{\"percentage\":'${x}'}'; }",
      "format": "BR: {percentage}%",
      "interval": 1,
      "on-click": "ddcutil --noverify --bus 9 setvcp 10 + 5",
      "on-click-right": "ddcutil --noverify --bus 9 setvcp 10 - 5",
      "return-type": "json",
      "tooltip": false
    },
    "height": 30,
    "hyparland/window": {
      "format": "{}"
    },
    "layer": "top",
    "memory": {
      "format": "MEM: {}%"
    },
    "modules-center": [],
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/window"
    ],
    "modules-right": [
      "tray",
      "network",
      "custom/brightness",
      "pulseaudio",
      "memory",
      "cpu",
      //"temperature",
      "clock"
    ],
    //"network": {
    //  "align": 1,
    //  "format-alt": "{ifname}: {ipaddr}/{cidr}",
    //  "format-disconnected": "Disconnected ⚠",
    //  "format-ethernet": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓    {ipaddr}/{cidr} ",
    //  "format-linked": "{ifname} (No IP) ",
    //  "format-wifi": "{bandwidthUpBytes}↑ {bandwidthDownBytes}↓    {essid} ({signalStrength}%) ",
    //  "interval": 2,
    //  "justify": "right",
    //  "max-length": 38,
    //  "min-length": 38,
    //  "tooltip-format": "{ifname} via {gwaddr} "
    //},
    "network": {
      "align": 0,
      "min-length": 17,
      "justify": "center",
      "format-alt": "{ifname}: {ipaddr}/{cidr}",
      "format-disconnected": "",
      "format-ethernet": "{bandwidthUpBytes}⬆ {bandwidthDownBytes}⬇",
      "format-linked": "{bandwidthUpBytes}⬆ {bandwidthDownBytes}⬇",
      "format-wifi": "{bandwidthUpBytes}⬆ {bandwidthDownBytes}⬇",
      "interval": 2,
      "tooltip-format": "{ifname} via {gwaddr} "
    },
    "position": "top",
    "pulseaudio": {
      "format": "VOL: {volume}% {format_source}",
      "format-bluetooth": "VOL: {volume}% {format_source}",
      "format-bluetooth-muted": "VOL: MUT {format_source}",
      "format-muted": "VOL: MUT {format_source}",
      "format-source": "MIC: {volume}%",
      "format-source-muted": "MIC: MUT",
      "on-click": "pavucontrol"
    },
    "spacing": 4,
    "temperature": {
      "critical-threshold": 80,
      "format": "{temperatureC}°C {icon}",
      "format-icons": [
        "",
        "",
        ""
      ]
    },
    "tray": {
      "spacing": 10
    }
  }
]

